h1{
    text-align: center;
}

#main{

    display: flex;


}

.mydiv{

    margin-right: 20px;
}

button{
    background-color: lightskyblue;
height: 50px;
width: 100px;
border-radius: 20px;

}
 button:hover{
     background-color: blue;
 }














































