<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">



    <link rel="icon" href="{% static 'assets/about.png' %}">
    
    
    
    
    
    
</head>
<body>


<a href="{% url 'gallery' %}">Gallery</a>
<a href="{% url 'home' %}" >Home</a>






<h1>Additional information about ShopDish</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ex fugiat illo in, ipsa maiores numquam porro! Ad atque cum cumque deleniti dignissimos, eius id labore, maiores odit reiciendis rerum?</span><span>Ab accusamus aliquam aliquid animi cum dolore dolorem doloremque, ducimus eligendi est explicabo fuga fugiat incidunt iure magnam nemo officia pariatur placeat porro quia quo sapiente, sint, sunt tempora unde.</span></p>



<h2>Why choose us?</h2>
<div id="main">


    <div class="mydiv">
         <img src="{% static 'assets/img.png' %}" alt="">
        <h3>Rolex</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi aspernatur corporis, culpa dolorem esse est illum inventore, laudantium nostrum possimus praesentium quibusdam quidem rem repudiandae sapiente sed, sequi veniam.</span><span>Amet consectetur consequatur cum fugit, illum impedit ipsam iure iusto magnam nisi nostrum, quae sapiente. Accusamus ad aliquam animi distinctio illo magni nisi nulla, obcaecati officiis placeat rem, reprehenderit sapiente.</span></p>
        <button>More</button>

    </div>


    <div class="mydiv">

         <img src="{% static 'assets/img_1.png' %}" alt="">
        <h3>Casio</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi aspernatur corporis, culpa dolorem esse est illum inventore, laudantium nostrum possimus praesentium quibusdam quidem rem repudiandae sapiente sed, sequi veniam.</span><span>Amet consectetur consequatur cum fugit, illum impedit ipsam iure iusto magnam nisi nostrum, quae sapiente. Accusamus ad aliquam animi distinctio illo magni nisi nulla, obcaecati officiis placeat rem, reprehenderit sapiente.</span></p>
        <button>More</button>











    </div>





    <div class="mydiv">



         <img src="{% static 'assets/img_2.png' %}" alt="">
        <h3>Roll</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi aspernatur corporis, culpa dolorem esse est illum inventore, laudantium nostrum possimus praesentium quibusdam quidem rem repudiandae sapiente sed, sequi veniam.</span><span>Amet consectetur consequatur cum fugit, illum impedit ipsam iure iusto magnam nisi nostrum, quae sapiente. Accusamus ad aliquam animi distinctio illo magni nisi nulla, obcaecati officiis placeat rem, reprehenderit sapiente.</span></p>
        <button>More</button>










    </div>
    
    
    
    
    
    
    
</div>











</body>
</html>