<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>

    <style>
        h1{
            text-align: center;
            color: #a41515;
            font-size: 50px;
            text-shadow: 5px 5px 4px lightcoral;



        }


    </style>






</head>
<body>


<marquee behavior="" direction=""><h1>ShopDish App</h1></marquee>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias consequuntur eos esse, fugiat molestiae nostrum perferendis rem repellendus saepe sequi sint voluptas. A aliquid dolorum ea eius praesentium quas?</span><span>Earum modi nemo nulla quia ut? Accusamus ad corporis deleniti dolorum est excepturi facilis in ipsum itaque minus nobis numquam, odit officia possimus qui quibusdam quisquam sapiente sequi ut velit!</span></p>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur debitis deleniti dicta doloremque expedita facere fugiat libero, modi perferendis placeat quae qui reprehenderit repudiandae sed tenetur veniam! Rerum, voluptas.</span><span>Aliquam excepturi labore laborum mollitia odio, quas sit. Aliquam ea eveniet ipsa, iste maiores numquam quasi ut. At delectus distinctio dolore, maxime minus pariatur porro quam quibusdam quos recusandae reiciendis.</span><span>Ab adipisci alias consequatur culpa delectus deleniti dolore ducimus earum enim esse id inventore iusto laboriosam magnam molestiae nam officiis optio perferendis quam qui quos reprehenderit, vel, veritatis voluptates voluptatum.</span></p>









</body>
</html>